
.icon{
    text-align: center;
}
   
.foot{
    display: inline-block;
    transition: transform 0.2s;    
}

.foot:hover{
    transform: scale(1.2);
}
img{
    width: 80px;

}
.icon.img{
    margin-bottom: 60px;
}
.footer {
    
    flex-direction: row;
    text-align: center;

}
/* .icon.p{
    text-align: center;
    font-size: 10px;
} */
.icon.p{
    font-size: 16px;
}

footer a{
    color: rgb(255, 0, 115);
    text-decoration: none;
    font-weight: 600;
   
}

footer a:hover {
    text-decoration:underline;
    transform: scale(1.01);
    transition: transform 0.2s ease-in-out; /* Darker shade of the original color on hover */
  }

  footer a:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* Add a subtle blue border on focus */
  }


@media (max-width: 600px){
   
    .icon {
        text-align: center;
        width: 35px;
        display: inline;
    }
    img{
        width: 50px;
    }
    .icon.img{
        
        margin-bottom: 60px;
        
    }
    .footer{
        flex-direction: row;
        text-align: center;
        /* margin-left: 100px; */
    
    }
    .icon.p{
        font-size: 12px;
    }
}